.MainOrgani{
    width: 100vw;
    height: 170vh;
    background-image: url("../../Images/newOC.jpeg");
    background-size: cover;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -12rem;    
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 1000px) {
    .MainOrgani {
        width: 132vw;
        height: 50vh;
        margin-left: -80px;
        background-image: url("../../Images/newOC.jpeg");
        background-size: cover;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
